body {
    background-color: pink;
}


/* NavBar*/

.container {
    display: flex;
    background-color: pink;
    justify-content: space-between;
}

.navbar {
    align-items: center;
    text-align: center;
    padding: 20px 30px 20px 30px;
    align-items: center;
}

img.navbar {
    width: 70px;
    height: 70px;
    align-items: center;
    text-align: baseline;
    padding: 5px;
}

.navbtn {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}


/* Main Text*/

.mid {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-color: pink;
    gap: 30px;
}

.maintext {
    display: flex;
    flex-direction: column;
}

h1.maintext {
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    font-family: 'Roboto', arial;
}

p.maintext {
    font-size: 26px;
    background-color: #000000;
}

a {
    color: rgb(0, 0, 0);
}

button {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    justify-content: center;
    display: inline-block;
    padding: 17px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(228, 115, 134);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: rgb(192, 51, 75)
}